<div class="main-content container">
    {% for post in posts %}
    <article class="blog-article">
        <a href="{{ path('blog_post', {slug: post.slug}) }}" class="article-link-heading"><h2 class="article-heading">{{ post.title }}</h2></a>
        <div class="article-info justify-content-center d-flex">
            <div class="date-container">
                <i class="fa fa-calendar"></i>
                <div class="date">{{ post.createdAt.date|date("m/d/Y") }}</div>
            </div>
            <div class="read-time-container">
                <i class="fa fa-coffee"></i>
                <div class="read-time">5 min read</div>
            </div>
        </div>
        <p class="text-justify">{{ post.summary }}</p>
        <a href="{{ path('blog_post', {slug: post.slug}) }}" class="read-more">Read more...</a>
        {%  if not post.tags.empty %}
        <div class="article-tags">
            <i class="fa fa-tags"></i>
            {% for tag in post.tags %}
            <a href="{{ path('blog_index',{'tag':tag.name == app.request.query.get('tag') ? null : tag.name}) }}" class="tag-link">#{{ tag.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </article>
    {% endfor %}
    {% if posts.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(posts, 'twitter_bootstrap4', {routeName: 'blog_index_paginated', routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
</div>